@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --headercolor: #111111;
    --divphrase: #242424;
    --bodycolor: #2C6A91;
    --headermenuhovercolor: #3030309c;
    --font: Georgia, 'Times New Roman', Times, serif;
}

main{
    margin-top: 3%;
    border-radius: 20px;
    background-color: white;
}