@charset "UTF-8";

:root{
    --headercolor: #111111;
    --ulmenucolor: #2c3e50;
}

@media screen and (max-width: 952px) {
   label.logo{
    font-size: 30px;
    padding-left: 50px;
   }

   nav > ul > li > a{
    font-size: 1em;
   }

}

@media screen and (max-width: 858px) {
    #menu{
        display: block;
    }

    header > nav > ul{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--ulmenucolor);
        left: 0;
        top: 80px;
        text-align: center;
    }

    header > nav > ul > li{
        display: block;
    }

    header > nav > ul > li > a:hover{
        background: none;
        color: var(--headercolor);

    }
}

@media screen and (min-width: 957px){
    #itens{
        display: block;
    }
}

@media screen and (max-width: 856px){
    div#reserve_space{
        height: 500px;
        margin-bottom: 10px;
    }

    div.logo_example{
        display: flex;
        width: 60%;
        position: relative;
        margin: auto;
        top: 10px;
        align-items: center;
        justify-content: center;
    }

    div.info{
        display: flex;  
        position: relative; 
        align-items: center;
        height: 200px;
        width: 60%;
        top: 20px;
        left: 20%;
    }

    p.res{
        font-size: 1em; 
        font-weight: bold;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    p.info_res{
        font-size: 0.8em;
       
    }

    div#button_product{
        display: flex;
        position: absolute;
        width: 30%;
        top: 95%;
        
    }

    div.gym{
        position: relative;
        width: 30%;
        margin-left: -2%;
        margin-top: -1%;
    }

    div#infoProduct{

    }
    div#payment{
        display: flex;
        height: 500px;
        margin-bottom: 15px;
        align-items: center;
    }

    div#product{
        display: flex;
        position: relative;
    }

    p.inf1{
        font-size: 1.5em;
        font-weight: bold;
    }

    p.inf2{
        font-size: 1em;
        font-weight: bold;
    }

    p.inf3{
        font-size: 0.8em;
        font-weight: normal;
    }

    p.val1{
        font-size: 0.8em;
        font-weight: bold;
    }

    p.val2{
        font-size: 0.8em;
 
    }

    p.val3{
        font-size: 0.8em;
    }

    .button_payment{
        text-align: center;
    }

    img.infologos{
        max-width: 100%;
    }
}