@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --headercolor: #111111;
    --divphrase: #242424;
    --bodycolor: #2C6A91;
    --headermenuhovercolor: #3030309c;
    --font: Georgia, 'Times New Roman', Times, serif;
}

header > div#phrase{
    color: white;
    background-color: var(--divphrase);
    text-align: center;
    padding: 5px 0px;
    font-size: 1em;
    font-family: var(--font);
}

i#share{
    font-size: 1.4em;
    font-weight: normal;
}

header nav{
    background-color: var(--headercolor);
    height: 13vh;
    font-family: var(--font);
}

label.logo{
    padding: 0 3%;
    color: white;
    font-size: 2em;
    line-height: 80px;
    font-weight: bold;
}

nav > ul{
    float: right;
    margin-right: 20px;
}

nav > ul > li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav > ul > li > a{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 3px;
}

nav > ul > li > a:hover, .active{
    background-color: var(--headermenuhovercolor);
    transition: 0.5s;
    padding: 10px;
}

i#menu{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#menu{
    display: none;
}

body{
    background-color: var(--bodycolor);
    font-family: var(--font);
}

#itens{
    display: none;
}

a > label#logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 0 3%;
    line-height: 80px;
}

main{
    height: 100vh;
    width: 80%;
    margin: auto;
}

div.gym{
    border-radius: 5%;
    border: 2px solid black;
    width: 9%;
    margin-top: 1%;
    display: inline-block;
}

div#reserve_space{
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 100%;
    height: 40%;
    margin-top: 3%;
    
}

div.logo_example{
    display: inline-block;
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 20%;
    height: 35%;
    margin: 1%;
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.384);
}

div.info{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    width: 55%;
    height: 35%;
    position: absolute;
    margin: 1%;
    left: 33%;
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.384);
    text-align: center;
}

div#button_product{
    display: block;
    background-color: #008060;
    width: 10%;
    height: 10%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 35%;
    top: 48%;
}

div#button_product:hover{
    opacity: 0.9;
}

div.gym:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    padding: 1px;
}

img.logos{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
}